.shop-container {
    width: var(--width-lg);
    position: relative;
}

.shop-container .title {
    text-align: start;
}

.item-card {
    max-width: max-content;
    padding: 1rem;
    gap: 0.6rem;
    margin: auto;
    border: var(--border-2);
    border-radius: var(--border-radius-1);
    overflow: hidden;
    position: relative;
    transition: var(--transition);
}

.my-image {
    position: relative;
}

.my-image img {
    width: 100%;
    max-width: 15rem;
    background: url(./bgthumbnail.png);
    background-size: cover;
    background-position: center;
    border-radius: var(--border-radius-1);
    transition: opacity 0.3s ease;
    /* Adding transition for smooth effect */
}

.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    color: white;
    font-size: 1.5rem;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease;
    /* Adding transition for smooth effect */
}

.my-image:hover img {
    opacity: 0.5;
    /* Dim the image on hover */
}

.my-image:hover .hover-text {
    display: flex;
    /* Show the text container on hover */
    opacity: 1;
    line-height: 1.5;
    font-size: 15px;
    /* Show the text with full opacity on hover */
}

.item-card h4 {
    font-weight: 400;
    margin: 1rem 0 0.5rem;
    font-size: 1rem;
    text-transform: capitalize;
    columns: var(--color-dark);
}


#cat {
    font-weight: 600;
    color: var(--color-dark);
    text-transform: capitalize;
}

p {
    font-weight: 500;
}

.prie {
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.price span {
    font-weight: 600;
}

.price span:last-child {
    text-decoration: line-through;
}

.rating {
    margin-top: 0.5rem;
}

.rating a {
    color: var(--color-secondary);
}

.susscore a {
    color: green;
}

.card-buttons {
    display: flex;
    gap: 0.5rem;
}

.card-buttons .btn {
    font-size: 0.7rem;
    text-transform: capitalize;
    padding: 0.5rem;
    letter-spacing: 0;
}

.card-icons {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    transform: translateX(200%);
    transition: var(--transition);
}

.card-icons a {
    font-size: 1.1rem;
    color: var(--color-white);
    padding: 0.4rem;
    line-height: 1;
    border: var(--border-1);
    border-radius: var(--border-radius-1);
    border-color: var(--color-primary);
    background: var(--color-primary);
}

.card-icons a:hover {
    border-color: var(--color-secondary);
    background: var(--color-secondary);
}

.item-card:hover .card-icons {
    transform: translateX(0);
}

.swiper-buttons {
    position: absolute;
    top: 0.5rem;
    right: 0;
    display: flex;
    gap: 1rem;
}

.swiper-buttons .btn {
    padding: 0.5rem 1rem;
    line-height: 1;
    font-size: 1.6rem;
}

.shop-container .swiper {
    position: static !important;
}