#categories{
    background: var(--color-bg);
}

.categories-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.categories-card{
    border: var(--border-2);
    border-radius: var(--border-radius-1);
    text-align: center;
    cursor: pointer;
}

.categories-card img:hover {
    border-color: red;
    transform: scale(1.05);
}

.categories-card img{
    background: url(./bgthumbnail.png);
    background-size: cover;
    background-position: center;
    border: var(--border-1);
    border-radius: var(--border-radius-2);
    transition: all ease-in-out 0.2s;
}

.categories-card h4{
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-size: 0.95rem;
    font-weight: 600;
}


@media screen and (max-width: 1024px){
    .categories-container{
        grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 600px){
    .categories-container{
        grid-template-columns: 1fr;
    }

    #categories{
        width: 80%;
        margin: auto;
    }
  }

  